{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>
            DNE
        </title>
        <link href="{% static 'encyclopedia/styles3.css' %}" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="dne-gif">
            <iframe src="https://giphy.com/embed/Ke8JKfxe83FpLrra71" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/error-404-Ke8JKfxe83FpLrra71">via GIPHY</a></p>
        </div>
        <div class="dne-div2">
            <a class="btn btn-primary" href="{% url 'index' %}">Previous Page</a>
        </div>

        </body>
</html>

