{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit : {{ title|capfirst }}
{% endblock %}

{% block body %}
    <h1>Editing Page: {{ title }}</h1>
    <form action="{% url 'edit' %}" method = post>
        {% csrf_token %}
        <textarea aria-label="With textarea" class="edit-textarea" name="textarea" >{% for line in content %}{{ line }}{% endfor %}
        </textarea>
        <input type="hidden" value="{{ title }}" name="title">
        <br>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>
{% endblock %}